#section-1{
    clear: left;
    padding-top: 10px;
    width: 70%;
    margin: 0 auto;
}

#section-1 #left {
    width: 70%;
    min-height: 200px;
    float: left;
}

.title-list{
    color: #4e4e4e;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;
}

.title-list a {
    text-decoration: none;
    color: #4e4e4e;
    font-weight: bold;
}

.list{
    width: 90%;
    margin: 0 auto; 
}


.image {
    margin-bottom: 10px;
    width: 150px;
    height: 206px;
}
.genre-description{
    float:right;
    width: 30%;
    margin-bottom: 20px;
    background: azure;
    padding:15px;
}
#right {
    width: 30%;
    color: #333;
    float: right;
    border: 1px solid #ddd;
    background: azure;
}
.title-list{
    margin-top: 10px;
}
.list ul{
    display: block;
    overflow: hidden;

}

.list ul li{
    list-style: none;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 5px;
    float: left;
}

.list ul li a{
    text-decoration: none;
    color: black;
    display: block;
}
.book-info{
    display: none;
}
.list ul li a:hover{
    background-color: #bed2e7;
   -webkit-transition-timing-function: ease-out;
-moz-transition-timing-function: ease-out;
-webkit-transition-duration: 100ms;
box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.5);

}
b{
    font-weight: 700;
}

@media (max-width: 600px){
#section-1{
    clear: left;
    padding: 0;
    width: 100%;
    margin:0;
}

#section-1 #left {
    width: 100%;
    min-height: 200px;
    float: none;
}

.title-list{
    color: #4e4e4e;
    font-weight: bold;
    margin: 0;
}

.title-list a {
    text-decoration: none;
    color: #4e4e4e;
    font-weight: bold;
}

.list{
    width: 100%;
    margin: 0; 
}

.item{
    width: 100%;
    height: 185px;
    float: none;
    text-align: initial;
}
.image {
    margin-bottom: 2px;
    width: 40%;
    height: 180px;
    border: 1px solid black;
    float: left;
}
.genre-description{
    display: none;
}
#right {
    display: none;
    float: none;
}
.title-list{
    margin-top: 10px;
}
.book-info{
    display: block;
    font-size: 17px;
}
.name{
    font-size: 17px;
    font-weight: bold;
}
.info-wraper{
    float: left;
    width: 55%;
    margin-left: 12px;
}

}