.main-content{
    width: 60%;
    margin: 0 auto;
    clear:left;
}

.title-list{
    color: #4e4e4e;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;
}
.section-1{
    clear: left;
    padding-top: 10px;

}
.left{
    width: 20%;
    min-height: 200px;
    float: left;
}

.novel {
    width: 150px;
    text-align: left;
    margin-top: 26px;
    margin-right: 10px;
}
.image {
    margin-bottom: 10px;
    width: 150px;
    height: 206px;
}
.novel-info {
    margin-bottom: 10px;
}
.middle{
    width: 55%;
    float: left;
}
.novel-name {
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}
.right {
    margin-top: 20px;
    width: 25%;
    border: 1px solid #ddd;
    color: #333;
    min-height: 200px;
    float: right;
    background: azure;
}

.related-novel{
    padding: 5px;
}
.related-novel a{
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    color:black;
}
.related-novel a:hover{
    color: blue;
}
.section-2{
    clear: left;
}
.section-3{
    margin-top: 20px;
}
textarea{
    width: 100%;
    resize: none;
}
.comment-list{
    margin-top: 20px;
    padding: 5px;
    font-weight: bold;
}
.time{
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}
.chap-list a{
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.chap-list a:hover{
    text-decoration: underline;
}

#star-b{
    font-weight: 400;
    font-style: italic;
    font-size: 11px;
}
.hidden{
    display: none;
}
#star-hiden{
    font-weight: 400;
    font-style: italic;
    font-size: 11px;
    margin-left: 5px;
    padding-top: 3px;
    position: absolute;
}

.rating{
    text-align: center;
}
.rating img{
    width: 15px;
    cursor: pointer;
}
.rating .rate{
    display: inline-block;
}
.rating .rate:hover{
    transform: rotate(15deg) scale(1.3);
}


.submit-rating{
}
@media (max-width:600px){
    .main-content{
    width: 100%;
    clear:left;
}

.title-list{
    
    margin-bottom: 0;
}
.section-1{
    clear: left;
    padding: 0;

}
.left{
    width: 100%;
    min-height: 200px;
    float:none;
}

.novel {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}
.image {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    width: 50%;
    height: 260px;
}
.novel-info {
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}
.middle{
    width: 100%;
    float: none;
}
.novel-name {
    font-size: 17px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}
.right {
   display: none;
}

.related-novel{
    padding: 5px;
}
.related-novel a{
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    color:black;
}
.related-novel a:hover{
    color: blue;
}

.section-3{
    margin-top: 20px;
}
textarea{
    margin-top: 8px;
    width: 100%;
    resize: none;
}
.comment-list{
    margin-top: 5px;
    padding: 5px;
    font-weight: bold;
}
.time{
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}
.chap-list a{
    margin-left: 10px;
    text-decoration: none;
    margin-top:3px;
    color: black;
    font-weight: normal;
}
#load-comments{
    display: block;
    margin: 0 auto;
}
.chap-list a:hover{
    text-decoration: underline;
}
}